<h1>Hello <%= @homeowner.first_name %> <%= @homeowner.last_name %></h1>

<br>

<h2>Here are your trees</h2>

 <% @homeowner.trees.each do |tree| %>

 <p><a href="/trees/<%= tree.id %>"><%= tree.variety %></a></p>

 <% end %>