<div class="container">

  <header><img src="images/iskashitaa-logo.jpg" class="img-responsive main-image"></header>

  <div class="col-md-8 col-md-offset-2">

    <div class="content">
      <h2>Welcome to Iskashitaa's Fruit Tree App<h2>	

      <p>Iskashitaa operates the only year-round gleaning program in Southern Arizona and educates on the multiple uses of traditional and nontraditional, native and non-native fruits, nuts, pods, seeds, and even flowers. Harvests include over 20 types of citrus and an additional 50 of food products from trees, herbs, and cacti.</p>

      <p>Please signup to help us track the edible fruit in our city!</p>
    </div>

    <div class="sidebar">
      <img style='height: 100%; width: 100%; object-fit: contain'src="images/harvesting.jpg">
      <img style='height: 100%; width: 100%; object-fit: contain'src="images/grapefruit.jpg">
    </div>

  </div>
</div>
