<h2>Sign Up</h2>

<form action="/homeowners" method="POST">

	<label for="first_name">First Name</label>
	<input type="text" name="first_name">

	<label for="last_name">Last Name</label>
	<input type="type" name="last_name">

	<label for="email">Add Email</label>
	<input type="text" name="email">

	<label for="password">Enter Password</label>
	<input type="password" name="password">

	<input type="submit" name="" value="SignUp">
	
</form>