<div class="container">

  <header><img src="images/iskashitaa-logo.jpg" class="img-responsive main-image"></header>

  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Iskashitaa's Fruit Tree App<h2>

    <div class="content">
      <p></p>
    </div>

    <div class="sidebar">
      
    </div>

  </div>
</div>
